<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/custom.css" />
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/dist/css/AdminLTE.min.css" />

    <include path="~/dist/css/font-awesome.min.css" />
    <include path="~/dist/css/ionicons.min.css" />
    <include path="~/dist/css/skins/skin-blue-light.css" />
    <!--<include path="~/plugins/iCheck/square/green.css" />
    <include path="~/plugins/iCheck/square/green.png" />-->
    <include path="~/plugins/waitMe/waitMe.min.css" />
    <include path="~/plugins/sweet-alert/sweet-alert.css" />
    <include path="~/plugins/DataTables-1.10.9/media/css/dataTables.bootstrap.min.css" />

  </styleBundle>

  <!--<styleBundle path="~/plugins/image">
    
  </styleBundle>-->
</bundles>