<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="DatabaseFactoryConfiguration" type="DatabaseFactorySectionHandler, DatabaseFactoryManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="AuthenticationMode" value="LC" />
    <!--AD=AD User, LC = Local User-->
    <add key="DefaultOrg" value="300399" />
    <add key="LDAPService" value="LDAP://cpf.co.th/OU=CPF Client Policy,DC=cpf,DC=co,DC=th" />
    <add key="ModuleCode" value="CRM0001" />
    <add key="DefaultGridRow" value="10" />
    <add key="DisplayDateFormat" value="DD/MM/YYYY" />
    <add key="DisplayDateTimeFormat" value="DD/MM/YYYY HH:mm" />
    <!-- ThaiYear  'DD/MM/BBBB HH:mm:ss'-->
    <add key="DisplayDateFormat_asp" value="dd/MM/yyyy" />
    <add key="DisplayDateTimeFormat_asp" value="dd/MM/yyyy HH:mm" />
    <!--<add key="DayDefault" value="10" />-->
    <add key="DefaultLanguage" value="THA" />
    <!--dbName incase sqlserver = InstantName , incase Oracle is TNSName -->
    <!--dbConnection In Case Oralce  is Not Using ,Incase Sqlserver is ServeName(HostName or Ip) -->
    <add key="dbConnection" value="triton" />
    <add key="dbName" value="DEVCPF02" />
    <add key="schemaStoreProcedure" value="SSCRM" />
    <add key="schemaConnection" value="SSCRM" />
    <add key="dbTypeConnection" value="OracleDatabase" />
    <!-- Config data For Connecting To PPSystem-->
    <add key="PPdbConnection" value="triton" />
    <add key="PPdbName" value="DEVCPF02" />
    <add key="PPschemaStoreProcedure" value="PPDS" />
    <add key="PPschemaConnection" value="PPDS" />
    <add key="PPdbTypeConnection" value="OracleDatabase" />
    <!-- Config data For Connecting To FeedSystem To Get ProductCode,Bag(SapCode),StockMIS-->
    <add key="FDdbConnection" value="triton" />
    <!--<add key="FDdbName" value="SNPRDCPF"/> -->
    <add key="FDdbName" value="DEVCPF02" />
    <add key="FDschemaStoreProcedure" value="FEED" />
    <add key="FDschemaConnection" value="FEED" />
    <add key="FDdbTypeConnection" value="OracleDatabase" />
    <!-- Config Path for GuMsgService To Read Module dll-->
    <add key="MSGPATH" value="C:\TestMsg\" />
    <!-- ############################################### -->
  </appSettings>
  <DatabaseFactoryConfiguration Name="OracleDatabase" />
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Net.Http, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <!--<add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />-->
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors> 
      <endpointBehaviors>
         <behavior name="REST">
                    <webHttp helpEnabled="true" />
                </behavior>
        <behavior name="GenericServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="MaintainServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="AuthenServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="CRMMasServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="HelperServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors> 
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="GenericService">
        <endpoint address="" behaviorConfiguration="REST" bindingConfiguration="webHttpBindingWithJsonP" binding="webHttpBinding" contract="GenericService" /> 
        <!--<endpoint address="" behaviorConfiguration="GenericServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="GenericService"/>-->
      </service>
      <service name="MaintainService">
        <endpoint address="" behaviorConfiguration="MaintainServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="MaintainService" />
      </service>
      <service name="AuthenService">
        <endpoint address="" behaviorConfiguration="AuthenServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="AuthenService" />
      </service>
      <service name="CRMMasService">
        <endpoint address="" behaviorConfiguration="CRMMasServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="CRMMasService" />
      </service>
      <service name="HelperService">
        <endpoint address="" behaviorConfiguration="HelperServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="HelperService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
         <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
        <binding name="webHttpBinding" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
  
  
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    
      
        
  </system.serviceModel>
  <system.webServer>
    
      <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE" />
        <add name="Access-Control-Max-Age" value="1728000" />
       <!--  <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" /> 
            <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
            <add name="Access-Control-Max-Age" value="1728000" />-->
      </customHeaders>
    </httpProtocol>
    
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="BundleModule" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" /> 
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    
    </modules>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="LoginPage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>